global:
  scrape_interval: "15s"
scrape_configs:
  - job_name: node
    static_configs:
{% for target in prometheus.targets %}
      - targets: 
        - "{{ target.ip }}:9100"
        labels:
          instance: {{ target.label }}
{% endfor %}
      - targets:
        - "www.lab.hpcs.cs.tsukuba.ac.jp:{{ traefik.metrics_port }}"
        labels:
          instance: traefik
      - targets:
        - "dns.lab.hpcs.cs.tsukuba.ac.jp:{{ authoritative_dns.metrics_port }}"
        labels:
          instance: authoritative_dns
      - targets:
        - "resolver.lab.hpcs.cs.tsukuba.ac.jp:{{ resolver_dns.metrics_port }}"
        labels:
          instance: resolver_dns
