127.0.0.1 localhost
127.0.1.1 {{ hostname }}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
172.16.255.254 gw.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.200 kvm-serv.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.220 auth.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.223 fs.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.2 serv2.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.1 serv1.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.1 mail.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.230 node1.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.224 gw-ipmi.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.210 kvm-serv-ipmi.lab.hpcs.cs.tsukuba.ac.jp
172.16.254.1 mail-ipmi.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.211 node0-ipmi.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.231 node1-ipmi.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.232 node0.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.232 dns.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.230 resolver.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.232 work.lab.hpcs.cs.tsukuba.ac.jp
172.16.0.230 www.lab.hpcs.cs.tsukuba.ac.jp
